body {
    background-color:#E5F1F0
}
body {font-family: 'Quicksand', sans-serif;
}
.pink{
    background:#F4A9E2;
}
.yellow{
    background:#F9F4B0;
}
.green{
    background:#CBEB9E;
}
.grid{
    height: 300px;
    width: 300px;
}
.box{
    width:100px;
    height:100px;
    float: left;
}
.orange{
    background:#FBDAB4;
}
.purple{
    background:#D4C2F8;
}
.red{
    background: #EF8F8F;
}
.bluee{
    background:#9ECAEB;
}
.yellow{
    background:#E8EB9E;
}
.blue{
    background: #9EE1EB;
}
