body {
    background-color:rgb(218, 250, 250)
}
body {font-family: 'Reenie Beanie', cursive;
}
.box{
    width: 100px;
    height: 100px;
}

.blue{
    background:rgb(60, 115, 179);
}
.yellow{
    background:rgb(235, 238, 39);
}
.green{
    background:#7add7a;
}

.grid{
    height: 300px;
    width: 300px;
}